canvas {
    display: block;
    margin: 0 auto;
}

#contenedor {
    width: 610px;
    margin: 100px auto;
}

#tetris {
    position: relative;
    float: left;
}

#nextPieza {
    position: relative;
    float: right;
}

#puntuacion {
    text-align: center;
    position: relative;
}

body {
    align-items: center;
}